body {
  background-color: rgba(225, 60, 60, 0.684);
}

#gameboard {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: auto;
  margin-top: 150px;
  border-radius: 15px;
}

.box {
  width: 100px;
  height: 100px;
  border: solid 0.5px rgba(225, 60, 60, 0.684);
  background-color: rgba(232, 181, 181, 0.85);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box.x::before,
.box.x::after {
  content: "";
  width: 8px;
  height: 70px;
  background-color: rgba(225, 60, 60);
  transform: rotate(45deg);
  position: absolute;
  border-radius: 5px;
}

.box.x::after {
  transform: rotate(45deg);
}

.box.x::after {
  transform: rotate(-45deg);
}

.box.o::before,
.box.o::after {
  content: "";
  width: 70px;
  height: 70px;
  background-color: rgba(225, 60, 60);
  transform: rotate(45deg);
  position: absolute;
  border-radius: 50%;
}

.box.o::before {
  width: 70px;
  height: 70px;
  background-color: rgba(225, 60, 60);
}

.box.o::after {
  width: 55px;
  height: 55px;
  background-color: rgba(232, 181, 181, 0.9);
}

#win-screen {
  background-color: rgba(0, 0, 0, 0.684);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#restart {
  background-color: rgb(235, 203, 203);
  color: rgba(225, 60, 60);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 50px;
  position: absolute;
  align-self: center;
  padding: 15px;
  border-radius: 20px;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: rgba(225, 60, 60);
  margin-top: -400px;
}

#restart:hover {
  cursor: pointer;
  background-color: rgba(225, 60, 60, 0.684);
  color: rgb(235, 203, 203);
}

#restart:active {
  background-color: rgba(225, 60, 60);
}
